{% extends "base.html" %}

{% block content %}
<h1>Welcome, {{ Username }}!</h1><br>
<p>This app purpose is to synchronize spotify <br>
    collaborative playlist and public playlist <br>
    in order to share collaborative playlist without <br>
    letting everyone modify your playlist.</p>
    {% if Public %}
    <div>
        <h2>Playlist already linked</h2>
        <div style="float: left; width:50%;">
            {% for p in Public %}
            <p><b>{{ p }}</b></p>
            {% endfor %}
        </div>
        <div style="float: right; width:50%;">
            {% for p in Collab %}
            <p><b>{{ p }}</b></p>
            {% endfor %}
        </div>
        <form method="post" action="/index">
        <input type="submit" name="sync" value="sync">        
        </form>
    </div>
    {% endif %}
    <form method="post" action="/index">    
    {% if 'access_token' in session %}
        <h2>Link two playlists</h2>
        <div><p>Public</p>
            {% for playlist in SpotPublic %}
            <p><b><input name="public" type="radio" value="{{ playlist }}">{{ playlist }}</b></p>
            {% endfor %}
        </div>
        <div>
            <p>Collaborative</p>
            {% for playlist in SpotCollab %}
            <p><b><input name="collab" type="radio" value="{{ playlist }}">{{ playlist }}</b></p>
            {% endfor %}
            <input type="submit" name="link" value="link">
        </div>
    </form>
    {% endif %}
    {% if 'access_token' not in session %}
    <a href="{{ url_for('spotify_api_login') }}">Login with Spotify</a>
    {% endif %}
{% endblock %}