[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aniso8601 = "*"
asn1crypto = "*"
astroid = "*"
Authlib = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
cryptography = "*"
Flask = "*"
Flask-Caching = "*"
Flask-Cors = "*"
Flask-Login = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
httplib2 = "*"
idna = "*"
isort = "*"
itsdangerous = "*"
Jinja2 = "*"
lazy-object-proxy = "*"
MarkupSafe = "*"
mccabe = "*"
oauth2 = "*"
oauthlib = "*"
pycparser = "*"
pylint = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
six = "*"
spotipy = "*"
SQLAlchemy = "*"
typed-ast = "*"
urllib3 = "*"
Werkzeug = "*"
wrapt = "*"
WTForms = "*"
uwsgi = "*"

[dev-packages]

[requires]
python_version = "3.9"
